<div class="container">
    <div class="details">
        <app-title title="Register"></app-title>
        <form [formGroup]="registerForm" (ngSubmit)="submit()">

          <input type="text" placeholder="Name"  formControlName="name">
          <input type="text" placeholder="Email" formControlName="email">
          <input type="text" placeholder="Password" formControlName="password">
          <input type="text" placeholder="Confirm Password" formControlName="confirmPassword">
          <input type="text" placeholder="Address" formControlName="address">
         

          <button >Submit</button>
          <div class="login">
            Already a user? &nbsp;
            <a routerLink="/login">Login here</a>
          </div>
        </form>
        

        
    </div>
</div>